<div class="geo-dashboard">
  {{#with header}}
    <div class="header">
      {{#if logo}}
        <img src="{{logo}}" alt="{{title}}" title="{{title}}" />
      {{/if}}
      <span>{{title}}</span>
    </div>
  {{/with}}
  <div class="content">
    <div class="map">
    </div>
    <div style="display: flex; flex-direction: column;">
      <div class="widget-panel">
      </div>
      <div style="flex: 1;"></div>
    </div>
  </div>
  {{#with footer}}
    <div class="footer"></div>
  {{/with}}
</div>
