<div class="geo-dashboard">
  {{#with config.header}}
    <div class="header">
      {{#if logo}}
        <img src="{{logo}}" alt="{{title}}" title="{{title}}" />
      {{/if}}
      <span>{{title}}</span>
    </div>
  {{/with}}
  <div class="content">
    <div class="map">
    </div>
    <div class="panel">
    </div>
  </div>
  {{#with config.footer}}
    <div class="footer"></div>
  {{/with}}
</div>
