<div class="geo-dashboard">
  <div class="header">
    <img src="{{logo}}" alt="{{title}}" title="{{title}}" />
    <span>{{title}}</span>
  </div>
  <div class="content">
    <div class="map">
    </div>
    <div class="panel">
    </div>
  </div>
  <div class="footer"></div>
</div>
