@import '_variables.scss';

.geo-dashboard {
  font-family: $font-family-base;
  background-color: $background-color;
  color: $primary-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: $font-size-base;

  .header {
    height: 2.5em;
    padding-left: $default-spacing;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    color: $background-color;
    font-size: 1.5em;

    img {
      height: 65%;
    }

    span {
      padding-left: $default-spacing;
    }
  }

  .content {
    flex: 1;
    display: flex;

    > .map {
      flex: 1;
      min-height: 0;
    }

    > .widget-panel {
      background: lighten($primary-color, 15%);
    }
  }

  .footer {
    height: 1.5em;
    padding-left: $default-spacing;
  }

}

@media (max-width: 768px) {
  .geo-dashboard {
    font-size: $font-size-base * 0.75;

    .content {
      > .widget-panel {
        display: none;
      }
    }
  }
}
