@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '_variables';
@import 'map/map-manager';
@import 'widget/widget-manager';

.geo-dashboard {
  font-family: $font-family-base;
  background: $background-color;
  color: $primary-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: $font-size-base;

  .header {
    height: 2.5em;
    padding-left: $default-spacing;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    color: $background-color;
    font-size: 1.2em;

    img {
      height: 65%;
    }

    span {
      padding-left: $default-spacing;
    }
  }

  .content {
    flex: 1;
    display: flex;
    min-height: 0;
  }

  .footer {
    height: 1.5em;
    padding-left: $default-spacing;
  }
}

.spinner {
  width: $default-spacing * 3;
  height: $default-spacing * 3;
  margin: ($default-spacing * 2) auto;
  background-color: $primary-color;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

@include mobile {
  .geo-dashboard {
    font-size: 0.75em;
  }
}
