@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '_variables';
@import 'map/map-manager';
@import 'widget/widget-manager';

.geo-dashboard {
  font-family: $font-family-base;
  background: lighten($primary-color, 25%);
  color: $primary-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: $font-size-base;

  .header {
    height: 2.5em;
    padding-left: $default-spacing;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    color: $background-color;
    font-size: 1.2em;

    img {
      height: 65%;
    }

    span {
      padding-left: $default-spacing;
    }
  }

  .content {
    flex: 1;
    display: flex;
    min-height: 0;
  }

  .footer {
    height: 1.5em;
    padding-left: $default-spacing;
  }
}

@include mobile {
  .geo-dashboard {
    font-size: 0.75em;
  }
}
