@import '../_variables.scss';

.widget {
  margin: $default-spacing * 2;
  border: $border-base;
  min-width: 15em;
  background-color: $background-color;
  border-radius: $border-radius;
  padding: $default-spacing * 2;
  box-shadow: $box-shadow;

  .widget-title {
    font-size: 1em;
    text-transform: uppercase;
    color: $info-color;
  }
}

.wps-widget {
  .widget-value {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0;
    color: $primary-color;
    overflow: hidden;
  }
}

.group-widget {
  ul {
    list-style: none;
    font-size: 1.5em;
    padding: 0;
    margin: 0.3em 0 0 0;

    li {

      span {

      }
    }
  }
}

.chart-widget {
  canvas {
    margin-top: 1em;
  }
}

.filter-widget {
  ul {
    list-style: none;

    li {
      cursor: pointer;
      position: relative;
      margin: 5px 0 10px 0;
      text-align: left;
      height: 16px;
      line-height: 25px;
      vertical-align: middle;
      color: $primary-alpha;

      .filter-widget-color {
        float: left;
        margin: 5px 5px 0 0;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        z-index: 1000;
      }

      &.active {
        font-weight: bold;
        color: $primary-color;

        .filter-widget-color {
          border: $border-base;
        }
      }
    }
  }
}
